.neon-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .neon-text {
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9,
      0 0 40px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 100px #00fff9,
      0 0 150px #00fff9;
  }
  